PORT=

# JWT Secret
APP_SECRET=

# Mailing infos
MAIL_DRIVER=ethereal
DEFAULT_EMAIL_ADDRESS=
DEFAULT_MAILER_NAME=

# SES
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# DATABASE CONECTION
# DATABASE_URL="postgresql://postgres:password@localhost:5432/nome_do_projeto?schema=public"

# Para criar o banco de dados descrito na variável acima utilize o seguinte comando:
# docker run -d --name nome_do_container -e POSTGRES_USERNAME=postgres -e POSTGRES_PASSWORD=password -e POSTGRES_DATABASE=nome_do_projeto -p 5432:5432 postgres
# !! Não utilize esse comando para gerar o banco de dados do deploy !!
